.time {
    display: block;
    text-align: center;
    padding: 32px;
    /* background-color: #D9f7e9; */
}

.time h3{
    display: block;
    display: inline-block;
    font-size: 32px;
    border-bottom: 4px solid;
    padding-bottom: 8px;
}

.time .colaboradores{
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}